@import "tailwindcss";

:root {
  --text: white;
  --sub-text: rgba(255, 255, 255, 0.637);
  --background: rgb(0, 0, 0);
  --foreground: rgba(0, 0, 0, 0.568);
  --red-button: #7c0000;
  --green-button: #105200da;
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
}
