@import "tailwindcss";

:root {
  --text: white;
  --sub-text: rgba(255, 255, 255, 0.637);
  --background: rgb(0, 0, 0);
  --foreground: rgba(0, 0, 0, 0.568);
  --red-button: #7c0000;
  --green-button: #105200da;
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
}

@media screen and (max-width: 850px) {
  .container {
    height: calc(100vh);
  }
  .form-box {
    bottom: 0;
    width: 100%;
    height: 70%;
  }
  .container.active .form-box {
    right: 0;
    bottom: 30%;
  }
  .toggle-box {
    display: flex;
    flex-direction: column;
  }
  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }
  .container.active .toggle-box::before {
    left: 0;
    top: 70%;
  }
  .toggle-pannel {
    width: 100%;
    height: 30%;
  }
  .toggle-pannel.toggle-left {
    top: 0;
  }
  .container.active .toggle-pannel.toggle-left {
    left: 0;
    top: -30%;
  }
  .toggle-pannel.toggle-right {
    right: 0;
    bottom: -30%;
  }
  .container.active .toggle-pannel.toggle-right {
    bottom: 0;
  }
}